.inputCSV {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.column {
  width: 33%;
}